.signed-svg {
    gap: 30px;
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
}

.signed-svg__item {
    width: 100%;

    @media screen and (min-width: 768px){
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.signed-svg__icon {
    height: 120px;
    background-color: var(--third-bgc-color);
    margin-bottom: 30px;
@include flex($jc: center);
    border-radius: 4px;
}

.signed-svg__title {

    margin-bottom: 10px;

    color: var(--color-h);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.signed-svg__text {


    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}