.hero {
    background-color: var(--darc-bgc);
    text-align: center;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero480img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
    margin-left: auto;
    max-width: 1600px;
    padding-top: 118px;
    margin-right: auto;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero480img@1.5x.jpg');
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero480img@2x.jpg');
        }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero480img@3x.jpg');
        }
    @media screen and (min-width:768px) {
        background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero768img.jpg');
        @media (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero768img@1.5x.jpg');
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero768img@2x.jpg');
        }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero768img@3x.jpg');
        }
    }

    @media screen and (min-width:1200px) {
        background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero1200.jpg');
        @media (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero1200img@1.5x.jpg');
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero1200img@2x.jpg');
        }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx){
            background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero1200img@3x.jpg');
        }
    }
}


.hero__title {
    max-width: 696px;
    margin: 0 auto 30px;

    color: var(--white-color-text);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {

    margin: 0 auto;
    display: inline-block;
    padding: 10px 32px;

    color: var(--white-color-text);
    background-color: var(--accent);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
@include flex($jc: null);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color var(--main-transition);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}